COMP5348-Group-Assignment-master/BookStore.Business.Components/Service References/DeliveryTransferService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DeliveryCo.MessageTypes" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SubmitDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeliveryCo.MessageTypes" minOccurs="0" name="pDeliveryInfo" nillable="true" type="q1:DeliveryInfo" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="wareHouseList" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>