COMP5348-Group-Assignment-master/Bank.Business/Bank.Business.Components/Connected Services/FundsTransferService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TransferOutcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pOutcome" type="xs:boolean" />
        <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundOutcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pOutcome" type="xs:boolean" />
        <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>